footer#footer {
  background-color: #fff;
  height: 85px;
  line-height: 85px;
  position: relative;
  margin-top: -85px;
  z-index: 99999; }
  footer#footer > .container {
    position: relative; }
  footer#footer .brand {
    position: absolute;
    left: 54px;
    bottom: 100%;
    height: 150px;
    margin-bottom: -85px;
    z-index: 9; }
    footer#footer .brand + .brand {
      margin-left: 120px; }
  footer#footer ul.social {
    float: right; }

@media only screen and (max-width: 768px) {
  footer#footer {
    position: relative; }
    footer#footer > .container {
      position: static; }
    footer#footer .brand {
      left: 10px; } }
