
<footer id="footer">
  <div id="footer__navigation">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__col">
          <ul>
            <li><a class="footer__head" href="">KURUMSAL</a></li>
            <li><a href="">Hakkımızda</a></li>
            <li><a href="">Genel Müdür Mesajı</a></li>
            <li><a href="">Yönetim Kadrosu</a></li>
            <li><a href="">Niçin ACIBADEM ?</a></li>
            <li><a href="">Danışmanlarımız</a></li>
            <li><a href="">İdari Birimler</a></li>
            <li><a href="">İnsan Kaynakları</a></li>
            <li><a href="">Basında Biz</a></li>
          </ul>
          <ul>
            <li><a class="footer__head" href="">KAYIT BAŞVURU</a></li>
            <li><a href="">Kayıt Bilgileri</a></li>
            <li><a href="">Kayıt Şartları</a></li>
            <li><a href="">Ön Kayıt</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <ul>
            <li><a class="footer__head" href="">EĞİTİM</a></li>
            <li><a href="">Akademik Eğitim</a></li>
            <li><a href="">Yabancı Dil</a></li>
            <li><a href="">Değerler Eğitimi</a></li>
            <li><a href="">Beceri Geliştirme</a></li>
            <li><a href="">Psikolojik Danışmanlık ve Rehberlik</a></li>
            <li><a href="">Ölçme ve Değerlendirme</a></li>
            <li><a href="">TEOG Çalışmaları</a></li>
            <li><a href="">Kulüp ve Atölyeler</a></li>
            <li><a href="">Kitaplarımız ve Yayınlarımız</a></li>
            <li><a href="">Öğretmen Akademisi</a></li>
          </ul>
          <ul>
            <li><a class="footer__head" href="">ÖĞRENCİLER</a></li>
            <li><a href="">ACIBADEM Bilgi Sistemi</a></li>
            <li><a href="">Yemek Menüsü</a></li>
            <li><a href="">Servis Bilgilendirme</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <ul>
            <li><a class="footer__head" href="">KAMPÜSLERİMİZ</a></li>
            <li><a href="">Acıbadem</a></li>
            <li><a href="">Çamlıca</a></li>
            <li><a href="">Gül Ağacı</a></li>
            <li><a href="">Sultantepe</a></li>
          </ul>
          <ul>
            <li><a class="footer__head" href="">SIKÇA SORULAN SORULAR</a></li>
          </ul>
          <ul>
            <li><a class="footer__head" href="">MAKALELER</a></li>
          </ul>
          <ul>
            <li><a class="footer__head" href="">İLETİŞİM</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h3 class="footer__head">BÜLTENİMİZE KATILIN! </h3>
          <p>Haftalık haber bültenimize ücretsiz üye olarak Özel ACIBADEM Koleji ile ilgili tüm gelişmelerden haberdar olun!</p>
          <form>
            <div class="form-control">
              <input type="email" placeholder="AD, SOYAD" name="form-name" id="form-name"/>
            </div>
            <div class="form-control">
              <input type="password" placeholder="E-POSTA ADRESİ" name="form-mail" id="form-mail"/>
            </div>
            <div class="form-control">
              <button class="link link--position-left" type="submit">ABONE OL!</button>
            </div>
          </form>
          <ul class="social-list">
            <li><a href="javascript:void(0)"><img src="assets/img/icons/icon-facebook-footer.png"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/icons/icon-twitter-footer.png"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/icons/icon-instagram-footer.png"/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer__copyright">
    <div class="container">
      <div id="footer__brand"><img src="assets/img/logo.gif" title="Acibadem Okulları Logo"/></div>
      <div id="footer__links"><a rel="license" href="#">Tüm Hakları Saklıdır &copy; 2017 <br/> ÖZEL ACIBADEM OKULLARI</a></div>
    </div>
  </div>
</footer>