
<header id="header">
  <div id="headertop">
    <div class="container">
      <ul>
        <li><a href="javascript:void(0)"><img src="assets/img/icons/icon-book.png"/></a></li>
        <li>
          <ul class="social-list">
            <li><a href="javascript:void(0)"><img src="assets/img/icons/icon-facebook.png"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/icons/icon-twitter.png"/></a></li>
            <li><a href="javascript:void(0)"><img src="assets/img/icons/icon-instagram.png"/></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="headernavigations">
    <div class="container">
      <div id="headernavigations__content">
        <div id="brand"><a href="index.html"><img src="assets/img/logo.gif"/></a></div>
        <button id="mobile-menu-btn"><span></span><span></span><span></span></button>
        <nav id="navigation">
          <ul>
            <li class="submenu"><a href="javascript:void(0)">KURUMSAL</a>
              <div class="submenu-content">
                <div class="container">
                  <ul>
                    <li><a href="">Hakkımızda</a></li>
                    <li><a href="">Genel Müdür Mesajı</a></li>
                    <li><a href="">Yönetim Kadrosu</a></li>
                    <li><a href="">Niçin ACIBADEM ?</a></li>
                    <li><a href="">Danışmanlarımız</a></li>
                    <li><a href="">İdari Birimler</a></li>
                    <li><a href="">İnsan Kaynakları</a></li>
                    <li><a href="">Basında Biz</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="submenu"><a href="javascript:void(0)">EĞİTİM</a>
              <div class="submenu-content">
                <div class="container">
                  <ul>
                    <li><a href="">Akademik Eğitim</a></li>
                    <li><a href="">Yabancı Dil</a></li>
                    <li><a href="">Değerler Eğitimi</a></li>
                    <li><a href="">Beceri Geliştirme</a></li>
                    <li><a href="">Psikolojik Danışmanlık ve Rehberlik</a></li>
                    <li><a href="">Ölçme ve Değerlendirme</a></li>
                    <li><a href="">TEOG Çalışmaları</a></li>
                    <li><a href="">Kulüp ve Atölyeler</a></li>
                    <li><a href="">Kitaplarımız ve Yayınlarımız</a></li>
                    <li><a href="">Öğretmen Akademisi</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="submenu"><a href="javascript:void(0)">KAMPÜSLERİMİZ</a>
              <div class="submenu-content">
                <div class="container">
                  <ul>
                    <li><a href="">Acıbadem</a></li>
                    <li><a href="">Çamlıca</a></li>
                    <li><a href="">Gül Ağacı</a></li>
                    <li><a href="">Sultantepe</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="submenu"><a href="javascript:void(0)">ÖĞRENCİLER</a>
              <div class="submenu-content">
                <div class="container">
                  <ul>
                    <li><a href="">ACIBADEM Bilgi Sistemi</a></li>
                    <li><a href="">Yemek Menüsü</a></li>
                    <li><a href="">Servis Bilgilendirme</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="submenu"><a href="javascript:void(0)">KAYIT-BAŞVURU</a>
              <div class="submenu-content">
                <div class="container">
                  <ul>
                    <li><a href="">Kayıt Bilgileri</a></li>
                    <li><a href="">Kayıt Şartları</a></li>
                    <li><a href="">Ön Kayıt</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li><a href="javascript:void(0)">İLETİŞİM</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>