@import url(../../fonts/font.css);
header#header {
  padding: 15px 0; }
  header#header #navbar {
    background-color: #d90217;
    height: 94px; }
    header#header #navbar > .container {
      position: relative; }
      header#header #navbar > .container::after {
        display: table;
        clear: both;
        visibility: hidden;
        content: ''; }
    header#header #navbar .brand {
      position: absolute;
      left: 54px;
      top: -15px;
      box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.62);
      -webkit-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.62);
      -moz-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.62);
      -o-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.62);
      -ms-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.62); }
    header#header #navbar nav#nav {
      float: right; }
      header#header #navbar nav#nav ul::after {
        display: table;
        clear: both;
        visibility: hidden;
        content: ''; }
      header#header #navbar nav#nav ul li {
        float: left;
        margin-right: 20px;
        line-height: 94px; }
        header#header #navbar nav#nav ul li a {
          display: block;
          font-size: 18px;
          font-weight: 300;
          color: #fff; }
        header#header #navbar nav#nav ul li.icon-menu a {
          font-size: 15px;
          color: #d90217;
          display: inline-block;
          padding: 0 15px 0 5px;
          border-radius: 29px;
          height: 29px;
          line-height: 29px;
          background-color: #fff;
          vertical-align: middle; }
          header#header #navbar nav#nav ul li.icon-menu a img, header#header #navbar nav#nav ul li.icon-menu a span {
            display: inline-block;
            vertical-align: middle; }
          header#header #navbar nav#nav ul li.icon-menu a img {
            margin-right: 8px;
            margin-top: -2px; }

@media only screen and (max-width: 768px) {
  header#header #navbar {
    position: relative;
    height: auto; }
    header#header #navbar.open nav#nav {
      display: block; }
      header#header #navbar.open nav#nav ul li:hover::before {
        width: 100%; }
      header#header #navbar.open nav#nav ul li:hover a {
        color: #fff; }
    header#header #navbar.open #mobile-menu-btn span:first-child {
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg); }
    header#header #navbar.open #mobile-menu-btn span:last-child {
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      top: -7.5px; }
    header#header #navbar > .container {
      position: static; }
    header#header #navbar .brand {
      left: 10px;
      z-index: 10; }
    header#header #navbar #mobile-menu-btn {
      display: inline-block;
      vertical-align: middle;
      float: right;
      padding: 47px 0; }
      header#header #navbar #mobile-menu-btn span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: relative; }
        header#header #navbar #mobile-menu-btn span + span {
          margin-top: 5px; }
    header#header #navbar nav#nav {
      position: absolute;
      z-index: 9;
      left: 0;
      top: 100%;
      margin-top: 20px;
      background-color: transparent;
      width: 100%;
      display: none; }
      header#header #navbar nav#nav ul li {
        float: none;
        background-color: #fff;
        padding: 0 47px;
        width: 100%;
        box-sizing: border-box;
        text-align: right;
        position: relative;
        z-index: 1; }
        header#header #navbar nav#nav ul li + li {
          margin-top: 1px; }
        header#header #navbar nav#nav ul li::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          z-index: -1;
          background-color: #d90217;
          transition: width 0.5s ease-in-out;
          -webkit-transition: width 0.5s ease-in-out;
          moz-transition: width 0.5s ease-in-out;
          o-transition: width 0.5s ease-in-out;
          ms-transition: width 0.5s ease-in-out; }
        header#header #navbar nav#nav ul li a {
          color: #d90217; } }

footer#footer {
  background-color: #fff;
  height: 85px;
  line-height: 85px;
  position: relative;
  margin-top: -85px;
  z-index: 99999; }
  footer#footer > .container {
    position: relative; }
  footer#footer .brand {
    position: absolute;
    left: 54px;
    bottom: 100%;
    height: 150px;
    margin-bottom: -85px;
    z-index: 9; }
    footer#footer .brand + .brand {
      margin-left: 120px; }
  footer#footer ul.social {
    float: right; }

@media only screen and (max-width: 768px) {
  footer#footer {
    position: relative; }
    footer#footer > .container {
      position: static; }
    footer#footer .brand {
      left: 10px; } }

.btn {
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  moz-transition: background-color 0.3s ease-in-out;
  o-transition: background-color 0.3s ease-in-out;
  ms-transition: background-color 0.3s ease-in-out;
  border-radius: 30px;
  display: inline-block;
  padding: 15px 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  border: none;
  min-width: 220px;
  box-sizing: border-box;
  cursor: pointer; }
  .btn:hover {
    text-decoration: none; }
  .btn:focus {
    outline: none; }
  .btn.space {
    margin: 60px auto; }
  .btn.block {
    border-radius: 0;
    width: 100%;
    font-weight: 300; }
  .btn.red {
    background-color: #f60300;
    color: #fff; }
    .btn.red:hover {
      background-color: #fff;
      color: #f60300; }
  .btn.primary {
    background-color: #d90217;
    color: #fff; }
    .btn.primary:hover {
      background-color: #fff;
      color: #d90217; }
  .btn.white {
    color: #d90217;
    background-color: #fff; }

label {
  display: block;
  margin: 20px 0;
  font-weight: 400;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

input,
textarea {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  moz-transition: all 0.4s ease-in-out;
  o-transition: all 0.4s ease-in-out;
  ms-transition: all 0.4s ease-in-out;
  border: none;
  padding: 20px;
  background-color: #ebebeb;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }
  input.material,
  textarea.material {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: transparent; }
  input:focus,
  textarea:focus {
    outline: none;
    border-bottom-color: #d90217; }

textarea {
  height: 150px;
  resize: vertical; }

.file {
  position: relative;
  overflow: hidden; }
  .file input[type='file'] {
    opacity: 0;
    position: absolute;
    top: -200%; }
  .file .btn {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1; }
    .file .btn.success span {
      -moz-transform: scale(1);
      transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      background-color: #00bf1e; }
    .file .btn.warning span {
      -moz-transform: scale(1);
      transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      background-color: #900210; }
    .file .btn span {
      transition: transform 0.3s ease-in-out;
      -webkit-transition: transform 0.3s ease-in-out;
      moz-transition: transform 0.3s ease-in-out;
      o-transition: transform 0.3s ease-in-out;
      ms-transition: transform 0.3s ease-in-out;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      -moz-transform: scale(0);
      transform: scale(0);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      text-align: center;
      font-size: 12px;
      font-weight: 300; }

.check {
  position: relative;
  overflow: hidden; }
  .check input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: -200%; }
    .check input[type='checkbox']:checked + label::before {
      background-image: url("../../images/icon/tick.png");
      background-position: center;
      background-size: cover; }
  .check label {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400; }
    .check label::before {
      content: '';
      float: left;
      width: 21px;
      height: 21px;
      color: #fff;
      background-color: #d90217;
      margin-right: 18px; }
    .check label a {
      color: #d90217;
      text-decoration: underline; }

* {
  margin: 0;
  padding: 0; }

html,
body,
#wrapper {
  height: 100%; }

#wrapper {
  height: auto;
  min-height: 100%; }

#page-content {
  padding-bottom: 85px; }

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.color-red {
  color: #d90217; }

.color-purple {
  color: #b38ce4 !important; }
  .color-purple:hover {
    color: #a577df !important; }

.color-pink {
  color: #fb9678 !important; }
  .color-pink:hover {
    color: #fa835f !important; }

.color-white {
  color: #fff; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 54px;
  box-sizing: border-box; }
  .container.no-pad {
    padding: 0; }
  .container.right {
    margin-left: auto;
    margin-right: 0; }
  .container.left {
    margin-right: auto;
    margin-left: 0; }
  .container.clear::after {
    display: table;
    clear: both;
    visibility: hidden;
    content: ''; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:focus {
    outline: none; }

section > header {
  margin-bottom: 85px; }
  section > header .title {
    font-weight: 800;
    font-style: italic;
    font-size: 22px; }
  section > header .note {
    margin-top: 65px;
    font-weight: 300;
    font-style: italic;
    font-size: 24px; }

section > footer {
  margin-top: 28px; }
  section > footer p {
    max-width: 74%;
    margin: 0 auto;
    font-weight: 300;
    font-style: italic;
    font-size: 16px; }

section.space {
  margin: 60px 0; }

.skewYTop {
  position: relative;
  padding: 300px 0px 100px 0px;
  z-index: 2;
  background-color: rgba(217, 2, 23, 0.8); }
  .skewYTop .skew-bg, .skewYTop::after {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    z-index: -1; }
  .skewYTop .skew-bg {
    background-size: cover;
    background-position: center -250px;
    height: 100%;
    top: 0; }
    .skewYTop .skew-bg::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 25, 0.7); }
  .skewYTop::after {
    content: '';
    height: 250px;
    top: -125px;
    background-color: #ffffff;
    -moz-transform: skewY(-7deg);
    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=-0.12278456090290474, M22=1, SizingMethod=" auto expand ")";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1,M12=0,M21=-0.12278456090290474,M22=1,SizingMethod='auto expand'); }

.skewY {
  position: relative;
  padding: 200px 0px;
  z-index: 2; }
  .skewY.space {
    margin: 160px 0; }
  .skewY .skew-bg, .skewY::after {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    -moz-transform: skewY(7deg);
    transform: skewY(7deg);
    -webkit-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0.12278456090290524, M22=1, SizingMethod=" auto expand ")";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1,M12=0,M21=0.12278456090290524,M22=1,SizingMethod='auto expand');
    z-index: -1; }
  .skewY .skew-bg {
    background-position: center; }
  .skewY::after {
    content: '';
    background-color: rgba(255, 0, 25, 0.7); }

ul.social:after {
  content: '';
  display: table;
  clear: both;
  visibility: hidden; }

ul.social li {
  float: left; }
  ul.social li a {
    display: block; }
    ul.social li a img {
      display: inline-block;
      vertical-align: middle; }
  ul.social li + li {
    margin-left: 10px; }

#page-space {
  padding: 210px 0 260px 0; }

.title2 {
  font-style: italic; }

.row {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% + 15px);
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-left: 0;
  padding-right: 0; }
  .row > * {
    display: inline-block;
    vertical-align: top; }
  .row > * {
    width: 33.33333%; }
  .row > * {
    padding-left: 7.5px;
    padding-right: 7.5px; }
  .row .text-input {
    min-height: 1px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.row4 {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% + 25px);
  margin-left: -12.5px;
  margin-right: -12.5px;
  padding-left: 0;
  padding-right: 0; }
  .row4 > * {
    display: inline-block;
    vertical-align: top; }
  .row4 > * {
    width: 25%; }
  .row4 > * {
    padding-left: 12.5px;
    padding-right: 12.5px; }
  .row4 .col {
    min-height: 1px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .row4 .file {
    min-height: 1px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 27px; }
  section > header {
    margin-bottom: 65px; }
    section > header .note {
      margin-top: 45px; }
  section > footer {
    margin-top: 8px; }
    section > footer p {
      margin: 0 auto; }
  section.space {
    margin: 40px 0; }
  .skewY {
    padding: 60px 0; }
    .skewY.space {
      margin: 140px 0; }
  .skewYTop {
    padding: 200px 0px 80px 0px;
    margin-top: -125px; }
  #page-space {
    padding: 150px 0 100px 0; }
  .row > * {
    width: 100%; }
  .row4 > * {
    width: 100%; } }

#home-banner {
  padding: 58px 0;
  margin-bottom: 120px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/banner/homebanner-bg.png); }
  #home-banner #center {
    margin: 0 auto; }
    #home-banner #center img {
      vertical-align: middle; }
      #home-banner #center img#lens {
        position: relative;
        max-width: 50%;
        right: -135px;
        top: 43px;
        z-index: 2; }
      #home-banner #center img#lens-foto {
        position: relative;
        max-width: 80%;
        right: -50px; }

.date-info-boxes {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 0; }
  .date-info-boxes > * {
    display: inline-block;
    vertical-align: top; }
  .date-info-boxes > * {
    width: 33.33333%; }
  .date-info-boxes .date-info {
    min-height: 1px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
    .date-info-boxes .date-info .info {
      margin-bottom: 50px;
      font-weight: 800;
      font-style: italic;
      font-size: 22px; }
    .date-info-boxes .date-info time {
      color: #d90217;
      font-weight: 300;
      font-style: italic;
      font-size: 24px; }

@media only screen and (max-width: 768px) {
  .date-info-boxes > * {
    width: 100%; }
  .date-info {
    margin-bottom: 50px; } }

.kupa-info-boxes {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0 25px 0; }
  .kupa-info-boxes > * {
    display: inline-block;
    vertical-align: top; }
  .kupa-info-boxes > * {
    width: 33.33333%; }
  .kupa-info-boxes .kupa-info {
    text-align: center;
    min-height: 1px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .kupa-info-boxes .kupa-info > img {
      display: block;
      margin: 0 auto; }
    .kupa-info-boxes .kupa-info .info {
      margin-top: 40px;
      display: block;
      line-height: 30px;
      font-weight: 400;
      font-size: 18px; }

@media only screen and (max-width: 768px) {
  .kupa-info-boxes > * {
    width: 100%; }
  .kupa-info {
    margin-bottom: 50px; } }

.kurul-info-boxes {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0; }
  .kurul-info-boxes > * {
    display: inline-block;
    vertical-align: top; }
  .kurul-info-boxes > * {
    width: 33.33333%; }
  .kurul-info-boxes > * {
    padding-left: 15px;
    padding-right: 15px; }
  .kurul-info-boxes .kurul-info {
    text-align: left;
    margin-bottom: 85px;
    min-height: 1px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .kurul-info-boxes .kurul-info figure img {
      display: block;
      max-width: 100%;
      margin: 0 auto; }
    .kurul-info-boxes .kurul-info figure figcaption {
      margin-top: 20px;
      font-weight: 700;
      font-size: 18px; }
      .kurul-info-boxes .kurul-info figure figcaption span {
        font-weight: 400;
        font-size: 14px;
        display: block; }

@media only screen and (max-width: 768px) {
  .kurul-info-boxes > * {
    width: 100%; }
  .kurul-info-boxes .kurul-info {
    margin-bottom: 50px;
    text-align: center; } }

#kurul {
  position: relative;
  z-index: 9; }

@media only screen and (max-width: 768px) {
  #home-banner #center img#lens {
    position: static;
    margin: 50px auto; }
  #home-banner #center img#lens-foto {
    display: none; } }
